@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page .header-title {
	background-color: rgb(10, 10, 171);
	color: white;
	font-size: 50px;
	text-align: center;
	padding: 10px;
	margin: -10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-page .login-logo {
	text-align: center;
	width: 138px;
	height: 175px;
	margin-top: 50px;
	margin-left: auto;
    margin-right: auto;
    display: block; 
}

.login-form {
	width: 400px;
	height:300px;
	margin: 30px auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 5px;
}

.login-form-title {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	padding-top: 20px;
}

.login-form input {
	display: block;
	margin: 16px;
	width: 90%;
	height: 40px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgb(15, 15, 123);
    border-color: rgb(16, 16, 208);
}

.login-form button {
	margin: 16px;
	width:90%;
	height: 40px;
	border: none;
	display: block;
	background-color: rgb(65, 65, 235);
	color: white;
	cursor: pointer;
	font-size: 16px;
}

.login-form button:hover,.form button:active,.form button:focus {
  	background: rgb(29, 29, 219);
}